#HW3_myGraph{
    width: 1400px;
    height: 500px;
}
#HW3_myGraph2{
    width: 1400px;
    height: 500px;
}
#HW3_myGraph3{
    width: 1400px;
    height: 500px;
}
#HW3_myGraph4{
    width: 1400px;
    height: 500px;
}
#HW3_myGraph5{
    width: 1400px;
    height: 500px;
}
